.version.acting /* version checker */
{
	color: #000008;
	background-color: #BE5277;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024_2x.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 526.7000000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 40px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u939-4
{
	z-index: 159;
	min-height: 37px;
	top: 0px;
}

#u939-4-bw
{
	z-index: 159;
}

#menuu153
{
	z-index: 163;
	width: 571px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u1761
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1762
{
	width: 85px;
	padding-bottom: 10px;
}

#u1762.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1764-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u1762:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1762.MuseMenuActive #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 87px;
}

#u169
{
	width: 96px;
	padding-bottom: 10px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 193px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u185
{
	width: 193px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 93px;
	min-height: 34px;
	margin-right: -10000px;
	left: 380px;
}

#u176
{
	width: 93px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 475px;
}

#u1791
{
	width: 96px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive,#u1791.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u1794-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169.MuseMenuActive #u170-4,#u1791:hover #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1791.MuseMenuActive #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#pu776
{
	width: 0.01px;
	margin-left: -100px;
}

#u776
{
	z-index: 12;
	height: 400px;
	background: #000000 url("../images/screen%20shot%202013-12-24%20at%20103243%20pm.jpg") no-repeat center center;
	background-size: cover;
}

#u776-bw
{
	z-index: 12;
	margin-top: 105px;
	height: 400px;
}

#u777-4
{
	z-index: 13;
	width: 628px;
	min-height: 187px;
	background-color: transparent;
	line-height: 188px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u780-4
{
	z-index: 34;
	width: 356px;
	min-height: 76px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#pu1511
{
	width: 0.01px;
	margin-left: 21px;
}

#u1511
{
	z-index: 144;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/resume%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1511
{
	background-image: url("../images/resume%20thumb_2x.jpg");
}

#u781-9
{
	z-index: 38;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u781
{
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
}

#u781-7
{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u781-4
{
	color: #FFFFFF;
	font-weight: 300;
}

#u779-4
{
	z-index: 30;
	width: 356px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 38px;
	position: relative;
}

#u1887
{
	z-index: 158;
	width: 150px;
	height: 200px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1886-13
{
	z-index: 145;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1886-7
{
	font-style: normal;
}

#pamphletu787
{
	z-index: 95;
	width: 0.01px;
	height: 201px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#u793
{
	z-index: 96;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u794
{
	position: absolute;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
}

#u797
{
	z-index: 98;
	width: 149px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u797
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u794:hover #u797
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u794:hover #u797
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u794.PamphletThumbSelected #u797
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u795
{
	z-index: 99;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u794:hover #u795
{
	width: 151px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u789
{
	position: absolute;
	width: 777px;
	border-style: none;
	border-color: transparent;
	background-color: #2D2D2D;
	background-color: rgba(22,22,22,0.9);
	padding-bottom: 44px;
	top: -160px;
	left: 72px;
	-pie-background: rgba(22,22,22,0.9);
}

#u789popup
{
	z-index: 101;
}

#u790
{
	z-index: 102;
	width: 733px;
	height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u791
{
	z-index: 103;
	width: 733px;
	min-height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u778-13
{
	z-index: 17;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	margin-left: 188px;
	top: -201px;
	margin-bottom: -140px;
	position: relative;
}

#u782-4
{
	z-index: 47;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 39px;
	position: relative;
}

#u817-7
{
	z-index: 104;
	width: 150px;
	min-height: 200px;
	background-color: #999999;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u817,#u817-2,#u817-3
{
	line-height: 24px;
}

#u817-5
{
	line-height: 29px;
}

#u783-13
{
	z-index: 51;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u783-2
{
	font-size: 36px;
	line-height: 40px;
	color: #FFFFFF;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
}

#pamphletu818
{
	z-index: 111;
	width: 0.01px;
	height: 201px;
	margin-left: 20px;
	margin-top: 39px;
	position: relative;
}

#u819
{
	z-index: 112;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u820
{
	position: absolute;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
}

#u794:hover,#u820:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u821
{
	z-index: 114;
	width: 149px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

.ie #u794.PamphletThumbSelected #u797,.ie #u821
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u820:hover #u821
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

.ie #u820:hover #u821
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u820.PamphletThumbSelected #u821
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

.ie #u820.PamphletThumbSelected #u821
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u822
{
	z-index: 115;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u794.PamphletThumbSelected #u795,#u820:hover #u822
{
	width: 151px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u820.PamphletThumbSelected #u822
{
	width: 151px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u825
{
	position: absolute;
	width: 777px;
	border-style: none;
	border-color: transparent;
	background-color: #2D2D2D;
	background-color: rgba(22,22,22,0.9);
	padding-bottom: 44px;
	top: -160px;
	left: 72px;
	-pie-background: rgba(22,22,22,0.9);
}

#u825popup
{
	z-index: 117;
}

#u826
{
	z-index: 118;
	width: 733px;
	height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u827
{
	z-index: 119;
	width: 733px;
	min-height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u785-13
{
	z-index: 64;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	margin-left: 188px;
	top: -201px;
	margin-bottom: -157px;
	position: relative;
}

#pu833
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 41px;
}

#u833
{
	z-index: 120;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbelina%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u833
{
	background-image: url("../images/thumbelina%20thumb_2x.jpg");
}

#u786-18
{
	z-index: 77;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u836-4
{
	z-index: 140;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 39px;
	position: relative;
}

#pu1887,#pu817-7,#pu835
{
	width: 0.01px;
	margin-left: 20px;
}

#u835
{
	z-index: 139;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/cat-in-the-hat.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u835
{
	background-image: url("../images/cat-in-the-hat_2x.png");
}

#u834-18
{
	z-index: 121;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1886-6,#u1886-8,#u778-6,#u783-6,#u785-6,#u786-6,#u834-6
{
	font-style: italic;
}

#u1886-9,#u1886-11,#u783-9,#u783-11,#u785-9,#u785-11,#u786-9,#u786-11,#u834-9,#u834-11
{
	line-height: 17px;
}

#u778-9,#u778-11,#u786-12,#u834-12
{
	font-size: 14px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u786-16,#u834-16
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u786-13,#u834-13
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	line-height: 17px;
}

#pu1890
{
	width: 0.01px;
	margin-left: 626px;
	margin-top: 31px;
}

#u1890
{
	z-index: 2;
	width: 38px;
	margin-right: -10000px;
}

#u1896
{
	z-index: 4;
	width: 38px;
	margin-right: -10000px;
	left: 46px;
}

#u1902
{
	z-index: 6;
	width: 38px;
	margin-right: -10000px;
	left: 92px;
}

#u1908
{
	z-index: 8;
	width: 38px;
	margin-right: -10000px;
	left: 138px;
}

#u1914
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	left: 184px;
}

#u1890:hover,#u1896:hover,#u1902:hover,#u1908:hover,#u1914:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

