.version.baking /* version checker */
{
	color: #000010;
	background-color: #31D209;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024_2x.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 507px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pu939-4
{
	width: 0.01px;
	padding-bottom: 39px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u939-4
{
	z-index: 18;
	min-height: 37px;
	top: 0px;
}

#u939-4-bw
{
	z-index: 18;
}

#menuu153
{
	z-index: 22;
	width: 571px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u1761
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1762
{
	width: 85px;
	padding-bottom: 10px;
}

#u1762.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1764-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u1762:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1762.MuseMenuActive #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 87px;
}

#u169
{
	width: 96px;
	padding-bottom: 10px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 193px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u185
{
	width: 193px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 93px;
	min-height: 34px;
	margin-right: -10000px;
	left: 380px;
}

#u176
{
	width: 93px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 475px;
}

#u1791
{
	width: 96px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive,#u1791.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u1794-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169.MuseMenuActive #u170-4,#u1791:hover #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1791.MuseMenuActive #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#ppu1773
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: -100px;
}

#pu1773
{
	width: 0.01px;
}

#u1773
{
	z-index: 12;
	height: 400px;
	background: transparent url("../images/img_0871.jpg") no-repeat center top;
	background-size: cover;
}

#u1773-bw
{
	z-index: 12;
	margin-top: 105px;
	height: 400px;
}

#u1777-4
{
	z-index: 13;
	width: 920px;
	min-height: 187px;
	background-color: transparent;
	line-height: 188px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1807
{
	z-index: 17;
	width: 135px;
	height: 106px;
	margin-left: 288px;
	margin-top: 527px;
	position: relative;
}

.ie #u1807
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1890
{
	z-index: 2;
	width: 38px;
	margin-right: -10000px;
	margin-top: 1209px;
	left: 626px;
}

#u1896
{
	z-index: 4;
	width: 38px;
	margin-right: -10000px;
	margin-top: 1209px;
	left: 672px;
}

#u1902
{
	z-index: 6;
	width: 38px;
	margin-right: -10000px;
	margin-top: 1209px;
	left: 718px;
}

#u1908
{
	z-index: 8;
	width: 38px;
	margin-right: -10000px;
	margin-top: 1209px;
	left: 764px;
}

#u1914
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	margin-top: 1209px;
	left: 810px;
}

#u1890:hover,#u1896:hover,#u1902:hover,#u1908:hover,#u1914:hover
{
	width: 38px;
	min-height: 0px;
	margin: 1209px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1208px;
}

