.version.baking /* version checker */
{
	color: #000013;
	background-color: #0ECE00;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 527px;
	margin-left: auto;
	margin-right: auto;
}

#u196
{
	z-index: 2;
	height: 37px;
	top: 0px;
}

#u196-bw
{
	z-index: 2;
}

#menuu153
{
	z-index: 3;
	width: 544px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u161
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 79px;
	padding-bottom: 10px;
}

#u162.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 81px;
}

#u169
{
	width: 91px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u176
{
	width: 88px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u185
{
	width: 188px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u189
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
	left: 454px;
}

#u190
{
	width: 90px;
	padding-bottom: 10px;
}

#u190.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u193-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169.MuseMenuActive #u170-4,#u190:hover #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u190.MuseMenuActive #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

