.version.design /* version checker */
{
	color: #0000F4;
	background-color: #6F9C67;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024_2x.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 527px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 40px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u939-4
{
	z-index: 86;
	min-height: 37px;
	top: 0px;
}

#u939-4-bw
{
	z-index: 86;
}

#menuu153
{
	z-index: 90;
	width: 571px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u1761
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1762
{
	width: 85px;
	padding-bottom: 10px;
}

#u1762.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1764-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u1762:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1762.MuseMenuActive #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 87px;
}

#u169
{
	width: 96px;
	padding-bottom: 10px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 193px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u185
{
	width: 193px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 93px;
	min-height: 34px;
	margin-right: -10000px;
	left: 380px;
}

#u176
{
	width: 93px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 475px;
}

#u1791
{
	width: 96px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive,#u1791.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u1794-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169.MuseMenuActive #u170-4,#u1791:hover #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1791.MuseMenuActive #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#pu911
{
	width: 0.01px;
	margin-left: -100px;
}

#u911
{
	z-index: 12;
	height: 400px;
	background: #000000 url("../images/diaryofawormset%20designleft.jpg") no-repeat center center;
	background-size: cover;
}

#u911-bw
{
	z-index: 12;
	margin-top: 105px;
	height: 400px;
}

#u912-4
{
	z-index: 13;
	width: 920px;
	min-height: 187px;
	background-color: transparent;
	line-height: 188px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u913-4
{
	z-index: 17;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#u1333
{
	z-index: 85;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/american%20idiot%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1333
{
	background-image: url("../images/american%20idiot%20thumb_2x.jpg");
}

#u1332-15
{
	z-index: 70;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1149
{
	z-index: 37;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/forum%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1149
{
	background-image: url("../images/forum%20thumb_2x.jpg");
}

#u1148-16
{
	z-index: 21;
	width: 752px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1158-4
{
	z-index: 38;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#pu1333,#pu1161
{
	width: 0.01px;
	margin-left: 20px;
}

#u1161
{
	z-index: 55;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1264238_10151892856707518_1140904651_o.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1161
{
	background-image: url("../images/1264238_10151892856707518_1140904651_o_2x.jpg");
}

#u1160-13
{
	z-index: 42;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pu1149,#pu1248
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u1248
{
	z-index: 69;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/diary%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1248
{
	background-image: url("../images/diary%20thumb_2x.jpg");
}

#u1247-13
{
	z-index: 56;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1332-6,#u1332-8,#u1148-6,#u1148-8,#u1160-6,#u1160-8,#u1247-6,#u1247-8
{
	font-style: italic;
}

#u1332-7,#u1148-7,#u1160-7,#u1247-7
{
	font-style: normal;
}

#u1332-9,#u1332-13,#u1148-9,#u1148-10,#u1148-14,#u1160-9,#u1160-11,#u1247-9,#u1247-11
{
	line-height: 17px;
}

#pu1890
{
	width: 0.01px;
	margin-left: 626px;
	margin-top: 31px;
}

#u1890
{
	z-index: 2;
	width: 38px;
	margin-right: -10000px;
}

#u1896
{
	z-index: 4;
	width: 38px;
	margin-right: -10000px;
	left: 46px;
}

#u1902
{
	z-index: 6;
	width: 38px;
	margin-right: -10000px;
	left: 92px;
}

#u1908
{
	z-index: 8;
	width: 38px;
	margin-right: -10000px;
	left: 138px;
}

#u1914
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	left: 184px;
}

#u1890:hover,#u1896:hover,#u1902:hover,#u1908:hover,#u1914:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

