.version.design /* version checker */
{
	color: #0000E1;
	background-color: #0464A6;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 527px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 40px;
	padding-bottom: 89px;
	width: 0.01px;
}

#u939-3
{
	z-index: 61;
	min-height: 37px;
	top: 0px;
}

#u939-3-bw
{
	z-index: 61;
}

#menuu153
{
	z-index: 64;
	width: 452px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u161
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 79px;
	padding-bottom: 10px;
}

#u162.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 81px;
}

#u169
{
	width: 91px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u169.MuseMenuActive #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u176
{
	width: 88px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u185
{
	width: 188px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#pu911
{
	width: 0.01px;
	margin-left: -100px;
}

#u911
{
	z-index: 2;
	height: 400px;
	background: #000000 url("../images/img_1287.jpg") no-repeat center center;
	background-size: cover;
}

#u911-bw
{
	z-index: 2;
	margin-top: 105px;
	height: 400px;
}

#u912-4
{
	z-index: 3;
	width: 920px;
	min-height: 187px;
	background-color: transparent;
	line-height: 188px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u913-4
{
	z-index: 7;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 35px;
	position: relative;
}

#u1149
{
	z-index: 28;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/forum%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1149
{
	background-image: url("../images/forum%20thumb_2x.jpg");
}

#u1148-17
{
	z-index: 11;
	width: 752px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1158-4
{
	z-index: 29;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#pu1149,#pu1161
{
	width: 0.01px;
	margin-left: 20px;
}

#u1161
{
	z-index: 46;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1264238_10151892856707518_1140904651_o.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1161
{
	background-image: url("../images/1264238_10151892856707518_1140904651_o_2x.jpg");
}

#u1160-13
{
	z-index: 33;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pu1248
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u1248
{
	z-index: 60;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/549690_10201021783735693_1515854778_n.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1248
{
	background-image: url("../images/549690_10201021783735693_1515854778_n_2x.jpg");
}

#u1247-13
{
	z-index: 47;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1148-6,#u1148-8,#u1160-6,#u1160-8,#u1247-6,#u1247-8
{
	font-style: italic;
}

#u1148-7,#u1160-7,#u1247-7
{
	font-style: normal;
}

#u1148-9,#u1148-11,#u1148-12,#u1148-15,#u1160-9,#u1160-11,#u1247-9,#u1247-11
{
	line-height: 17px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

