.version.index /* version checker */
{
	color: #000001;
	background-color: #6582B5;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 889px;
	min-height: 366px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 72px 51px 89px 20px;
}

#u196
{
	z-index: 38;
	height: 37px;
	top: 0px;
}

#u196-bw
{
	z-index: 38;
}

#menuu153
{
	z-index: 39;
	width: 544px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u161
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 79px;
	padding-bottom: 10px;
}

#u162.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 81px;
}

#u169
{
	width: 91px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u176
{
	width: 88px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u185
{
	width: 188px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u189
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
	left: 454px;
}

#u190
{
	width: 90px;
	padding-bottom: 10px;
}

#u190.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u193-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169.MuseMenuActive #u170-4,#u190:hover #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u190.MuseMenuActive #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#pu858
{
	width: 0.01px;
}

#u858
{
	z-index: 37;
	width: 356px;
	height: 482px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dsc_0500.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u858
{
	background-image: url("../images/dsc_0500_2x.jpg");
}

#pu143-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 407px;
}

#u143-6
{
	z-index: 2;
	width: 482px;
	min-height: 237px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 157px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u143-2
{
	line-height: 118px;
}

#u143-4
{
	line-height: 188px;
}

#u841-11
{
	z-index: 26;
	width: 297px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	margin-left: 92px;
	position: relative;
}

#u841-2,#u841-9
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u841-3,#u841-5,#u841-7
{
	font-size: 26px;
	letter-spacing: -4px;
	line-height: 31px;
}

#u841,#u841-4,#u841-6,#u841-8
{
	font-size: 26px;
	line-height: 31px;
}

#u274-18
{
	z-index: 8;
	width: 730px;
	min-height: 153px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 300;
	margin-left: 95px;
	margin-top: 52px;
	position: relative;
}

#u274-6
{
	font-size: 20px;
	text-align: justify;
	line-height: 20px;
	font-family: raleway, sans-serif;
}

#u274-8,#u274-9
{
	font-size: 16px;
	text-align: justify;
	line-height: 16px;
	font-family: lato, sans-serif;
}

#u274-5,#u274-16
{
	font-size: 55px;
	text-align: center;
	line-height: 30px;
	font-family: estilo-pro, sans-serif;
}

#u274,#u274-3,#u274-10,#u274-12,#u274-14
{
	letter-spacing: -8px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

