#u939-4
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	border-width: 0px 0px 1px;
	-pie-background: rgba(0,0,0,0.75);
}

#menuu153
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1761,#u1762
{
	background-color: transparent;
	position: relative;
}

#u1764-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1762:hover #u1764-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u168,#u169
{
	background-color: transparent;
	position: relative;
}

#u170-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1762.MuseMenuActive #u1764-4 p,#u169:hover #u170-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u182,#u185
{
	background-color: transparent;
	position: relative;
}

#u188-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u169.MuseMenuActive #u170-4 p,#u185:hover #u188-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u175,#u176
{
	background-color: transparent;
	position: relative;
}

#u178-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u185.MuseMenuActive #u188-4 p,#u176:hover #u178-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1788,#u1791
{
	background-color: transparent;
	position: relative;
}

#u1794-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u176.MuseMenuActive #u178-4 p,#u1791:hover #u1794-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1791.MuseMenuActive #u1794-4 p
{
	color: #6464DC;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1890
{
	background-color: transparent;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: relative;
}

#u1896
{
	background-color: transparent;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: relative;
}

#u1902
{
	background-color: transparent;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: relative;
}

#u1908
{
	background-color: transparent;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: relative;
}

#u1914
{
	background-color: transparent;
	opacity: 0.51;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=51)";
	filter: alpha(opacity=51);
	position: relative;
}

#u1890:hover,#u1896:hover,#u1902:hover,#u1908:hover,#u1914:hover
{
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
}

