.version.stage_management /* version checker */
{
	color: #0000E7;
	background-color: #36263D;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024_2x.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 527px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 127px;
	padding-bottom: 20px;
	width: 0.01px;
}

#u939-4
{
	z-index: 159;
	min-height: 37px;
	top: 0px;
}

#u939-4-bw
{
	z-index: 159;
}

#menuu153
{
	z-index: 163;
	width: 571px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u1761
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1762
{
	width: 85px;
	padding-bottom: 10px;
}

#u1762.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1764-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u1762:hover #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1762.MuseMenuActive #u1764-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 87px;
}

#u169
{
	width: 96px;
	padding-bottom: 10px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 193px;
	min-height: 34px;
	margin-right: -10000px;
	left: 185px;
}

#u185
{
	width: 193px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 93px;
	min-height: 34px;
	margin-right: -10000px;
	left: 380px;
}

#u176
{
	width: 93px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u1788
{
	width: 96px;
	min-height: 34px;
	margin-right: -10000px;
	left: 475px;
}

#u1791
{
	width: 96px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive,#u1791.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u1794-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 21px;
}

#u169.MuseMenuActive #u170-4,#u1791:hover #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u1791.MuseMenuActive #u1794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u908
{
	z-index: 12;
	min-height: 100px;
	padding-bottom: 300px;
	background: #000000 url("../images/img_4126.jpg") no-repeat center bottom;
	background-size: cover;
}

#u908_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u909-4
{
	z-index: 13;
	width: 940px;
	min-height: 187px;
	background-color: transparent;
	line-height: 156px;
	color: #FFFFFF;
	font-size: 130px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: -87px;
	left: 120px;
}

#u908-bw
{
	z-index: 12;
	min-height: 100px;
}

#u1627-4
{
	z-index: 141;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#u1629
{
	z-index: 158;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/earnestsquare.gif") no-repeat center center;
	background-size: cover;
}

#u1628-13
{
	z-index: 145;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u910-4
{
	z-index: 17;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#pu1629,#pu1551
{
	width: 0.01px;
	margin-left: 20px;
}

#u1551
{
	z-index: 140;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/miss-nelson.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1551
{
	background-image: url("../images/miss-nelson_2x.jpg");
}

#u1550-13
{
	z-index: 127;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1549
{
	z-index: 21;
	width: 732px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#u951
{
	z-index: 37;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/invisibles.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u951
{
	background-image: url("../images/invisibles_2x.jpg");
}

#u950-15
{
	z-index: 22;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pu953
{
	width: 0.01px;
	margin-top: 41px;
}

#u953
{
	z-index: 53;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/greenshow.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u953
{
	background-image: url("../images/greenshow_2x.jpg");
}

#u952-15
{
	z-index: 38;
	width: 564px;
	min-height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pu974
{
	width: 0.01px;
	margin-top: 40px;
}

#u974
{
	z-index: 67;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/screen%20shot%202015-08-16%20at%20101348%20pm.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u974
{
	background-image: url("../images/screen%20shot%202015-08-16%20at%20101348%20pm_2x.jpg");
}

#u973-13
{
	z-index: 54;
	width: 564px;
	min-height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pamphletu984
{
	z-index: 81;
	width: 0.01px;
	height: 201px;
	margin-top: 39px;
	position: relative;
}

#u988
{
	z-index: 82;
	width: 151px;
	position: relative;
	margin-right: -10000px;
}

#u989
{
	position: absolute;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
}

#u989:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u992
{
	z-index: 84;
	width: 149px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

.ie #u992
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u989:hover #u992
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

.ie #u989:hover #u992
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u989.PamphletThumbSelected #u992
{
	width: 149px;
	height: 200px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u990
{
	z-index: 85;
	width: 151px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

.ie #u989.PamphletThumbSelected #u992,.ie #u990
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1012
{
	z-index: 86;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u989:hover #u1012
{
	width: 151px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u989.PamphletThumbSelected #u1012
{
	width: 151px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u993
{
	position: absolute;
	width: 777px;
	border-style: none;
	border-color: transparent;
	background-color: #2D2D2D;
	background-color: rgba(22,22,22,0.9);
	padding-bottom: 44px;
	top: -160px;
	left: 72px;
	-pie-background: rgba(22,22,22,0.9);
}

#u993popup
{
	z-index: 88;
}

#u994
{
	z-index: 89;
	width: 733px;
	height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u995
{
	z-index: 90;
	width: 733px;
	min-height: 476px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u982-13
{
	z-index: 68;
	width: 564px;
	min-height: 160px;
	background-color: transparent;
	margin-left: 168px;
	top: -201px;
	margin-bottom: -160px;
	position: relative;
}

#u1129-4
{
	z-index: 91;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-top: 41px;
	position: relative;
}

#pu951,#pu1131
{
	width: 0.01px;
}

#u1131
{
	z-index: 108;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/big%20bad%20thumb.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1131
{
	background-image: url("../images/big%20bad%20thumb_2x.jpg");
}

#u1130-13
{
	z-index: 95;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1137-4
{
	z-index: 109;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	line-height: 86px;
	margin-top: 40px;
	position: relative;
}

#pu1139
{
	width: 0.01px;
	margin-top: -1px;
}

#u1139
{
	z-index: 126;
	width: 150px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/1264238_10151892856707518_1140904651_o.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1139
{
	background-image: url("../images/1264238_10151892856707518_1140904651_o_2x.jpg");
}

#u1138-13
{
	z-index: 113;
	width: 564px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1628-6,#u1628-8,#u1550-6,#u1550-8,#u950-6,#u950-8,#u952-6,#u973-6,#u982-6,#u1130-6,#u1130-8,#u1138-6,#u1138-8
{
	font-style: italic;
}

#u1628-7,#u1550-7,#u950-7,#u1130-7,#u1138-7
{
	font-style: normal;
}

#u1628-9,#u1628-11,#u1550-9,#u1550-11,#u950-9,#u950-11,#u950-12,#u950-13,#u952-9,#u952-11,#u952-13,#u973-9,#u973-11,#u982-9,#u982-11,#u1130-9,#u1130-11,#u1138-9,#u1138-11
{
	line-height: 17px;
}

#pu1890
{
	width: 0.01px;
	margin-left: 626px;
	margin-top: 31px;
}

#u1890
{
	z-index: 2;
	width: 38px;
	margin-right: -10000px;
}

#u1896
{
	z-index: 4;
	width: 38px;
	margin-right: -10000px;
	left: 46px;
}

#u1902
{
	z-index: 6;
	width: 38px;
	margin-right: -10000px;
	left: 92px;
}

#u1908
{
	z-index: 8;
	width: 38px;
	margin-right: -10000px;
	left: 138px;
}

#u1914
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	left: 184px;
}

#u1890:hover,#u1896:hover,#u1902:hover,#u1908:hover,#u1914:hover
{
	width: 38px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

