.version.stage_management /* version checker */
{
	color: #0000F2;
	background-color: #3F4D1A;
}

.html
{
	background: #161616 url("../images/webtreats_wood-pattern5-1024.jpg") repeat left top;
}

.hidpi.html
{
	background-image: url("../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 527px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 128px;
	padding-bottom: 89px;
	width: 0.01px;
}

#u196
{
	z-index: 15;
	height: 37px;
	top: 0px;
}

#u196-bw
{
	z-index: 15;
}

#menuu153
{
	z-index: 16;
	width: 544px;
	top: 5px;
	left: 50%;
	margin-left: -460px;
}

#u161
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
}

#u162
{
	width: 79px;
	padding-bottom: 10px;
}

#u162.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u163-4
{
	width: 42px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u162:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u162.MuseMenuActive #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u168
{
	width: 91px;
	min-height: 34px;
	margin-right: -10000px;
	left: 81px;
}

#u169
{
	width: 91px;
	padding-bottom: 10px;
}

#u169.MuseMenuActive
{
	width: 91px;
	min-height: 0px;
	margin: 0px;
}

#u170-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169:hover #u170-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 88px;
	min-height: 34px;
	margin-right: -10000px;
	left: 174px;
}

#u176
{
	width: 88px;
	padding-bottom: 10px;
}

#u176.MuseMenuActive
{
	width: 88px;
	min-height: 0px;
	margin: 0px;
}

#u178-4
{
	width: 51px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u176:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u176.MuseMenuActive #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u182
{
	width: 188px;
	min-height: 34px;
	margin-right: -10000px;
	left: 264px;
}

#u185
{
	width: 188px;
	padding-bottom: 10px;
}

#u185.MuseMenuActive
{
	width: 188px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u185:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u189
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
	left: 454px;
}

#u190
{
	width: 90px;
	padding-bottom: 10px;
}

#u190.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u193-4
{
	width: 54px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 18px;
}

#u169.MuseMenuActive #u170-4,#u190:hover #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u190.MuseMenuActive #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u908
{
	z-index: 2;
	min-height: 99px;
	padding-bottom: 304px;
	background: #000000 url("../images/img_4126.jpg") no-repeat center bottom;
	background-size: cover;
}

#u908_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u909-4
{
	z-index: 3;
	width: 940px;
	min-height: 187px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 156px;
	font-size: 130px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: -88px;
	left: 120px;
}

#u908-bw
{
	z-index: 2;
	min-height: 99px;
}

#u910-8
{
	z-index: 7;
	width: 291px;
	min-height: 78px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 86px;
	font-size: 72px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 32px;
	position: relative;
}

#u910-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u910-3
{
	line-height: 86px;
}

#u910,#u910-4
{
	font-size: 55px;
	letter-spacing: -8px;
	line-height: 66px;
}

#u910-2,#u910-5
{
	font-size: 55px;
	line-height: 66px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

