.version.design /* version checker */
{
	color: #00001E;
	background-color: #AF437B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #161616 url("../../images/webtreats_wood-pattern5-1024.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 21px;
	width: 0.01px;
}

#pu1084-3
{
	width: 0.01px;
}

#u1084-3
{
	z-index: 84;
	min-height: 37px;
}

#u1084-3-bw
{
	z-index: 84;
	min-height: 37px;
	margin-bottom: -1px;
}

#menuu1085
{
	z-index: 87;
	min-height: 34px;
}

#u1093
{
	width: 65px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1094
{
	width: 65px;
	padding-bottom: 12px;
}

#u1094.MuseMenuActive
{
	width: 65px;
	min-height: 0px;
	margin: 0px;
}

#u1097-4
{
	width: 38px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1094:hover #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1094.MuseMenuActive #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1086
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 67px;
}

#u1089
{
	width: 74px;
	padding-bottom: 12px;
}

#u1089.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1092-4
{
	width: 48px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1089:hover #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1089.MuseMenuActive #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1100
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 143px;
}

#u1101
{
	width: 72px;
	padding-bottom: 12px;
}

#u1101.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1104-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1101:hover #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1101.MuseMenuActive #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1107
{
	width: 163px;
	min-height: 34px;
	margin-right: -10000px;
	left: 217px;
}

#u1108
{
	width: 163px;
	padding-bottom: 12px;
}

#u1108.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1109-4
{
	width: 137px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1108:hover #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1108.MuseMenuActive #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#menuu1085-bw
{
	z-index: 87;
	min-height: 34px;
	margin-top: 3px;
}

#pu1375
{
	width: 0.01px;
	margin-top: 26px;
}

#u1375
{
	z-index: 7;
	height: 200px;
	background: #000000 url("../../images/diaryofawormset%20designleft.jpg") no-repeat center center;
	background-size: cover;
}

#u1375-bw
{
	z-index: 7;
	margin-top: 87px;
	height: 200px;
}

#u1376-6
{
	z-index: 8;
	width: 359px;
	min-height: 159px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 72px;
	line-height: 54px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u1377-4
{
	z-index: 14;
	width: 205px;
	min-height: 37px;
	background-color: transparent;
	line-height: 50px;
	margin-left: 9px;
	margin-top: 29px;
	position: relative;
}

#u1379
{
	z-index: 31;
	width: 100px;
	height: 134px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/american%20idiot%20thumb-u1379-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1379
{
	background-image: url("../../images/american%20idiot%20thumb-u1379-fr_2x.jpg");
}

#u1378-13
{
	z-index: 18;
	width: 250px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1381
{
	z-index: 47;
	width: 100px;
	height: 134px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/forum%20thumb-u1381-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1381
{
	background-image: url("../../images/forum%20thumb-u1381-fr_2x.jpg");
}

#u1380-15
{
	z-index: 32;
	width: 250px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1382-4
{
	z-index: 48;
	width: 205px;
	min-height: 37px;
	background-color: transparent;
	line-height: 50px;
	margin-left: 9px;
	margin-top: 25px;
	position: relative;
}

#pu1379,#pu1384
{
	width: 0.01px;
	margin-left: 9px;
}

#u1384
{
	z-index: 67;
	width: 100px;
	height: 134px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/1264238_10151892856707518_1140904651_o.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1384
{
	background-image: url("../../images/1264238_10151892856707518_1140904651_o_2x.jpg");
}

#u1383-15
{
	z-index: 52;
	width: 250px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu1381,#pu1392
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 25px;
}

#u1392
{
	z-index: 83;
	width: 100px;
	height: 134px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/549690_10201021783735693_1515854778_n.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1392
{
	background-image: url("../../images/549690_10201021783735693_1515854778_n_2x.jpg");
}

#u1391-15
{
	z-index: 68;
	width: 250px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1378-6,#u1378-8,#u1380-6,#u1383-6,#u1383-8,#u1391-6,#u1391-8
{
	font-style: italic;
}

#u1378-11,#u1380-9,#u1380-10,#u1380-13,#u1383-11,#u1383-13,#u1391-11,#u1391-13
{
	line-height: 12px;
}

#u1245-5
{
	z-index: 2;
	width: 163px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	margin-left: 108px;
	margin-top: 35px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

