.version.index /* version checker */
{
	color: #000009;
	background-color: #D55D53;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #161616 url("../../images/webtreats_wood-pattern5-1024.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 369px;
	min-height: 836.6250000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 56px 5px 21.374999999999886px 6px;
}

#u1084-3
{
	z-index: 37;
	min-height: 37px;
}

#u1084-3-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 37;
	top: -3px;
}

#menuu1085
{
	z-index: 40;
	min-height: 34px;
}

#u1093
{
	width: 65px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1094
{
	width: 65px;
	padding-bottom: 12px;
}

#u1094.MuseMenuActive
{
	width: 65px;
	min-height: 0px;
	margin: 0px;
}

#u1097-4
{
	width: 38px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1094:hover #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1094.MuseMenuActive #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1086
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 67px;
}

#u1089
{
	width: 74px;
	padding-bottom: 12px;
}

#u1089.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1092-4
{
	width: 48px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1089:hover #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1089.MuseMenuActive #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1100
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 143px;
}

#u1101
{
	width: 72px;
	padding-bottom: 12px;
}

#u1101.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1104-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1101:hover #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1101.MuseMenuActive #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1107
{
	width: 163px;
	min-height: 34px;
	margin-right: -10000px;
	left: 217px;
}

#u1108
{
	width: 163px;
	padding-bottom: 12px;
}

#u1108.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1109-4
{
	width: 137px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1108:hover #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1108.MuseMenuActive #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#menuu1085-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 40;
	top: 0px;
}

#u1114-6
{
	z-index: 2;
	width: 326px;
	min-height: 145px;
	background-color: transparent;
	line-height: 80px;
	font-size: 100px;
	margin-left: 21px;
	position: relative;
}

#u1119-4
{
	z-index: 25;
	width: 369px;
	min-height: 19px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	left: -1px;
	position: relative;
}

#u1116-6
{
	z-index: 19;
	width: 369px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: estilo-pro, sans-serif;
	font-weight: 300;
	left: -1px;
	position: relative;
}

#u1120
{
	z-index: 29;
	width: 345px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 12px;
	position: relative;
}

#u1117
{
	z-index: 30;
	width: 345px;
	background-color: #464646;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u1118
{
	z-index: 31;
	width: 330px;
	height: 252px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
	background: transparent url("../../images/dsc_0500-u1118-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1118
{
	background-image: url("../../images/dsc_0500-u1118-fr_2x.jpg");
}

#u1115-11
{
	z-index: 8;
	width: 342px;
	min-height: 153px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 37px;
	position: relative;
}

#u1115-2
{
	font-size: 38px;
	line-height: 21px;
}

#u1115-3
{
	font-size: 20px;
	text-align: justify;
	line-height: 20px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u1242-5
{
	z-index: 32;
	width: 163px;
	min-height: 13px;
	background-color: transparent;
	text-align: center;
	margin-left: 102px;
	margin-top: 34px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

