#menuu1085
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1093,#u1094
{
	background-color: transparent;
	position: relative;
}

#u1097-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1094:hover #u1097-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1086,#u1089
{
	background-color: transparent;
	position: relative;
}

#u1092-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1089:hover #u1092-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1100,#u1101
{
	background-color: transparent;
	position: relative;
}

#u1104-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1101:hover #u1104-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1107,#u1108
{
	background-color: transparent;
	position: relative;
}

#u1109-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: estilo-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1108:hover #u1109-4 p
{
	color: #6464DC;
	visibility: inherit;
}

#u1094.MuseMenuActive #u1097-4 p,#u1089.MuseMenuActive #u1092-4 p,#u1101.MuseMenuActive #u1104-4 p,#u1108.MuseMenuActive #u1109-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1084-3
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	border-width: 0px 0px 1px;
	-pie-background: rgba(0,0,0,0.75);
}

