.version.tall_tales_video /* version checker */
{
	color: #0000F7;
	background-color: #44A6F1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #161616 url("../../images/webtreats_wood-pattern5-1024.jpg") repeat left top scroll;
}

.hidpi.html
{
	background-image: url("../../images/webtreats_wood-pattern5-1024_2x.jpg");
	background-size: 512px 512px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 255px;
	width: 0.01px;
}

#pu1084-3
{
	width: 0.01px;
}

#u1084-3
{
	z-index: 3;
	min-height: 37px;
}

#u1084-3-bw
{
	z-index: 3;
	min-height: 37px;
	margin-bottom: -1px;
}

#menuu1085
{
	z-index: 6;
	min-height: 34px;
}

#u1093
{
	width: 65px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1094
{
	width: 65px;
	padding-bottom: 12px;
}

#u1094.MuseMenuActive
{
	width: 65px;
	min-height: 0px;
	margin: 0px;
}

#u1097-4
{
	width: 38px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1094:hover #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1094.MuseMenuActive #u1097-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u1086
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 67px;
}

#u1089
{
	width: 74px;
	padding-bottom: 12px;
}

#u1089.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1092-4
{
	width: 48px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1089:hover #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1089.MuseMenuActive #u1092-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1100
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 143px;
}

#u1101
{
	width: 72px;
	padding-bottom: 12px;
}

#u1101.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1104-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1101:hover #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1101.MuseMenuActive #u1104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1107
{
	width: 163px;
	min-height: 34px;
	margin-right: -10000px;
	left: 217px;
}

#u1108
{
	width: 163px;
	padding-bottom: 12px;
}

#u1108.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u1109-4
{
	width: 137px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	left: 13px;
}

#u1108:hover #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#u1108.MuseMenuActive #u1109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 137px;
	margin: 0px -10000px 0px 0px;
}

#menuu1085-bw
{
	z-index: 6;
	min-height: 34px;
	margin-top: 3px;
}

#u1297
{
	z-index: 2;
	width: 240px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 70px;
	margin-top: 142px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

